<section class="codepen">
  <p data-height="100" data-theme-id="0" data-slug-hash="{{ include.address }}" 
     data-default-tab="result" data-user="kranzuft" class='codepen'>
    <em>Sorry!</em> Your browser can't render the solution. 
    Perhaps you're viewing this page offline.
    You can see the solution for this problem 
    <a href='http://codepen.io/kranzuft/pen/{{ include.address }}/'>here</a> 
    on <a href='http://codepen.io'>CodePen</a>.
  </p>
  
  <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
</section>