<div class="sidebar">
  <div class="container sidebar-sticky">
    {% if page.quote != NULL %}
    <section class="page-quote">
      <blockquote class="page-quote">
        <p>{{ page.quote }}</p>
        <footer>
          <cite><a href="{{ page.qcite }}">{{ page.qauth }}</a></cite>
        </footer>
      </blockquote>
    </section>
    {% endif %}

    <section>
      <h1> <a href="{{ site.github.url }}">
        {{ site.title }}
        </a></h1>
    </section>

    <nav class="sidebar-nav">
      {% for node in site.pages %} {% if node.layout == "root" %}
      <a class="sidebar-nav-item{% if page.url == node.url %}active{% endif %}"
         href="{{ site.github.url }}{{ node.url }}">
          {{ node.title }}
      </a>
      {% endif %} {% endfor %}   
      <a class="sidebar-nav-ack" href="/acknowledgements"> 
        Acknowledgements
      </a>
    </nav> 
  </div>
</div>
