---
layout: topic
title: HTML
mainhead: HTML Problems and Solutions
quote: Every feature of HTML that you’ve ever used — someone created them... These people are not gods, nor are they flawless. They’re just people. Smart people, to be sure. But just people.
qauth: Mark Pilgrim
---

<hr>

<section class="description"></section>
  <p>
    This is a large volume of programming challenges, with coded solutions. Organisation of these exercises is like the ocean: constantly changing. Keep that in mind.
  </p>
</section>

<hr>

<nav class="tocnav">
  <ol>
    {% for doc in site.html %}
      {% if doc.questions != null %}
        <li class="tocnav section">
          <a href="{{ site.github.url }}/{{ doc.collection }}/{{ doc.section }}/">
            {{ doc.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
