---
layout: topic
title: HTML
mainhead: Hypertext Markup Language Table of Contents
quote: Every feature of HTML that you’ve ever used — someone created them... These people are not gods, nor are they flawless. They’re just people. Smart people, to be sure. But just people.
qauth: Mark Pilgrim
---

<hr>

<section class="description"></section>
  <p>
    This is a large volume of programming challenges, with coded solutions. The sections are organised in the same manner as the MDN <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">HTML element reference</a>.
  </p>
</section>

<hr>

<nav class="tocnav">
  <ol>
    {% for doc in site.htmlprac %}
      {% if doc.questions != null %}
        <li class="tocnav section">
            <a href="{{ site.github.url }}/{{ doc.collection }}/{{ doc.section }}/index">
            {{ doc.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
