---
layout: default
---

<h1 class="page-title"> {{ page.title }} | Table of Contents </h1>

<hr>

<nav class=pracpage>
  <strong> Questions </strong>
  <ol>
    {% for qst in page.questions %}
      <li class = "tocnav section">
        <a href="{{ site.github.url }}/{{ page.collection }}/sol/{{ page.section }}/{{qst.link}}">
          {% if qst.lang != NULL %}
            <span data-balloon="Solutions are in: {{qst.lang}}" data-balloon-pos="up">
              {{ qst.desc }}
            </span> 
          {% else %}
            {{ qst.desc }}
          {% endif %}
        </a> 
        {% if page.collection == HTML %}
          <a class = "codepen" href="{{ site.github.url }}/{{ page.collection }}/sol/{{ page.section }}/#{{qst.link}}">
          (view with CodePen)
        {% endif %}
        </a>
      </li>
    {% endfor %}
  </ol>
  <hr>
  <strong> Advanced Questions </strong>
  <ol>
    {% for aqst in page.adv_questions %}
      <li class = "tocnav section">
          <a href="{{ site.github.url }}/{{ page.collection }}/sol/{{ page.section }}/#{{aqst.link}}">
          {{ aqst.desc }}
        </a>
      </li>
    {% endfor %}
  </ol>
</nav>
