---
layout: default
---

<h1 class="page-title"> {{ page.title }} | Table of Contents </h1>

<hr>

<nav class=pracpage>
  <strong> Questions </strong>
  <ol>
    {% for qst in page.questions %}
      <li class = "tocnav section">
        <a class = "pygmen" href="{{ site.github.url }}/{{ page.collection }}/sol/{{ page.section }}/{{qst.link}}">
          {{ qst.desc }}
        </a>
        <a class = "codepen" href="{{ site.github.url }}/{{ page.collection }}/sol/{{ page.section }}/#{{qst.link}}">
          (view with CodePen)
        </a>
      </li>
    {% endfor %}
  </ol>
  <hr>
  <strong> Advanced Questions </strong>
  <ol>
    {% for aqst in page.adv_questions %}
      <li class = "tocnav section">
          <a href="{{ site.github.url }}/{{ page.collection }}/sol/{{ page.section }}/#{{aqst.link}}">
          {{ aqst.desc }}
        </a>
      </li>
    {% endfor %}
  </ol>
</nav>
